node_modules
public
.idea
.cache
.env
wiki-build
.env.*
.DS_Store
*.log

# Gets updated automatically from `gatsby-node.js`
src/pages/developing/building-for-ibm-dotcom/index.mdx
src/pages/developing/carbon-cdn-style-helpers/index.mdx

# Cypress output files
tests/e2e/cypress/screenshots
tests/e2e/cypress/videos
