version: 2
jobs:
  deploy:
    docker:
      - image: circleci/node:10.15-browsers
    working_directory: /home/circleci/project
    steps:
      - checkout
      - run:
          name: Install yarn
          command: |
            curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.16.0
            # Reference:
            # https://circleci.com/docs/2.0/env-vars/#example-configuration-of-environment-variables
            echo 'export PATH="$HOME/.yarn/bin:$PATH"' >> $BASH_ENV
      - run:
          name: Install dependencies
          command: yarn install --offline --frozen-lockfile
      - run:
          name: Build website
          command: yarn build
      - run:
          name: Install ibmcloud CLI
          command: curl -fsSL https://clis.ng.bluemix.net/install/linux | sh
      - run:
          name: IBM Cloud Login
          command: |
            ibmcloud login \
              --apikey $CLOUD_API_KEY \
              -a https://api.ng.bluemix.net \
              -o ibm-digital-design

            ibmcloud target -s ibmdotcom-production

            ibmcloud cf add-plugin-repo CF-Community https://plugins.cloudfoundry.org
            ibmcloud cf install-plugin blue-green-deploy -f -r CF-Community
      - deploy:
          name: deploy website
          command: |
            ibmcloud cf blue-green-deploy carbonforibm-website \
              -f ./circleci/manifest.yml \
              --delete-old-apps
workflows:
  version: 2
  main:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - master
