.container--homepage {
  a.bx--link {
    color: $interactive-04;
  }

  a.bx--link:hover {
    color: $active-primary;
  }

  .bx--grid {
    padding-top: 3rem;

    &.homepage--callout {
      padding-top: 0;
    }

    @include carbon--breakpoint('lg') {
      padding-left: calc(25% + 1.5rem);
    }

    @include carbon--breakpoint('max') {
      padding-left: 400px;
    }
  }
}

// Dots background pattern
.homepage--dots {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3e%3crect width='16' fill='none' height='16'/%3e%3crect x='0' y='0' fill='black' width='1' height='1'/%3e%3c/svg%3e");
  background-size: 16px;
  opacity: 0.35;
}

//make sure content is above dots
.container--homepage div[class*='Main-module--main'],
.container--homepage div[class*='Callout-module--grid'],
.container--homepage div[class*='NextPrevious-module--wrapper'] {
  position: relative;
  z-index: 2;
}
