// This is where your application styles could go.

@import 'homepage';
@import 'feature-card-group';

@import '../components/ComponentList/component-list.scss';
@import '../components/ComponentGallery/component-gallery.scss';

i {
  font-style: italic;
}

// override nested list item styles (they are hardcoded at 16px)
.bx--list--nested {
  .bx--list__item {
    font-size: inherit;
    padding-left: 0;
  }
}

.bx--list--unordered {
  .bx--list__item {
    margin-left: 0.5rem;

    &:before {
      left: -0.5rem;
    }
  }
}

.bx--list--ordered {
  margin-left: 0.8125rem;

  .bx--list__item {
    margin-left: 0.5rem;
  }
}

.image-card-group .bx--no-gutter-sm:nth-of-type(even) {
  .bx--image-card--dark {
    border-left: 1px solid $ui-03;
  }
}

// overriding code style in tables
td > code {
  white-space: nowrap;
}

.additional-resources-desc {
  margin-top: -16px;
}

// remove horizontal scroll in breakpoints > mobile
.page-table__container {
  overflow-x: auto;

  @include carbon--breakpoint('md') {
    overflow-x: initial;
  }
}

.bx--side-nav__submenu[aria-expanded='true'] + .bx--side-nav__menu {
  max-height: none;
}
