table.page-inventory {
  tr {
    border: 0;
  }

  tr td {
    padding: 0.25rem;
    width: 6.5rem;
    min-width: 6.5rem;
    padding-right: 16px;

    &:last-child {
      padding-right: 0;
    }
  }

  td:first-child {
    width: 100%;
    min-width: 100%;
  }

  tr:first-child td {
    font-weight: bold;
  }
}
