name: e2e-tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: e2e-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-tests:
    if: github.repository == 'jeffchew/carbon-for-ibm-dotcom-nextjs-test'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['14.x']
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: yarn
      - name: Install dependencies
        run: yarn install
      - name: Set env vars
        uses: ./.github/actions/set-dotenv
        with:
          env-file: .env.production
        env:
          GATSBY_CPU_COUNT: 1
      - name: Building Gatsby
        run: yarn build
      - name: Run e2e tests
        run: yarn test:e2e:local:no-percy
      - uses: act10ns/slack@v1
        if: failure()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
